<!-- shared views by convention used by multiple views -->
<% if object.errors.any? %>
  <div id="show_errors">
    <div id="error_count_box" class="alert alert-danger"> <!-- alert and alter-danger is specific to bootstrap -->
    The form contains <%= pluralize(object.errors.count,'error') %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>